    <div class="l-center">
      <div class="l-sort clearfix">
        <div class="l-sort-toolbar clearfix float-left">
                <span class="title"><b><?=__('Instalando aplicación web')?></b></span>
                  <?php
                    if (!empty($_SESSION['error_msg'])) {
                      echo "<span class=\"vst-error\"> → ".htmlentities($_SESSION['error_msg'])."</span>";
                    } else {
                      if (!empty($_SESSION['ok_msg'])) {
                        echo "<span class=\"vst-ok\"> → ".$_SESSION['ok_msg']."</span>";
                      }
                    }
                  ?>
        </div>
      </div>
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div class="l-center">
        <form id="vstobjects" name="v_install" method="post">
            <table class="data mode-add">
                <tr class="data-add">
                    <td class="data-dotted">
                        <table class="data-col1">
                            <tr><td></td></tr>
                        </table>
                    </td>
                    <td class="data-dotted">
                        <table class="data-col2" width="600px">
                            <tr>
                                <td class="vst-text step-top">
                                    <?php print __('Domain');?>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="dominio" style="width:auto !important;min-width:270px !important" id="dominio">
                                        <?php listar_dominios($user);?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    Aplicación web
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="aplicacion" id="aplicacion" onChange="hideUnnecessary()">
                                        <option value="wordpress">WordPress</option>
                                        <option value="prestashop">Prestashop</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    Correo electrónico del administrador
                                </td>
                            </tr>
                            <tr>
                                <td class="hint">
                                    Se enviarán los datos de acceso a esta cuenta
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="vst-input" name="correo_cms" type="email" id="correo" onkeyup="validarEmail();" required>
                                </td>
                            </tr>
                            <tr class="vst-text" style="display: none;" id="validar_mail">
                                <td style="color: #ff0000;">
                                    Introduce una dirección de correo válida
                                </td>
                            </tr>

                            <tr class="wordpress">
                                <td class="vst-text input-label">
                                    Usuario
                                </td>
                            </tr>
                            <tr class="wordpress">
                                <td>
                                    <input type="text" class="vst-input wordpress" name="usuario_cms" id="usuario_cms" required>
                                </td>
                            </tr>

                            <tr>
                                <td class="vst-text input-label">
                                    Contraseña
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="vst-input" name="cms_pass" id="cms_pass" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="vst-text input-label">
                                    Utilizar https (SSL)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="vst-list" name="https" id="https">
                                        <option value="no">No</option>
                                        <option value="si">Si</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <table class="data-col2">
                            <tr>
                                <td class="step-top" width="116px">
                                    <button type="button" class="button" value="Instalar" id="instalar" onclick="instalarCMS();">
                                        Instalar
                                    </button>
                                    <img src="../../images/load.gif" style="display: none;" id="loader">
                                </td>
                                <td class="step-top">
                                    <input type="button" class="button cancel" value="Volver" onclick="location.href='/list/web';">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>